<div>
    <br>
    <div class="content-wrapper">
        <div>
            <input type="text" #cursoInput>
            <button (click)="onAddCurso(cursoInput.value)">Adicionar</button>
            <button (click)="onSortArray()">Ordenar</button>
        </div>
        <div>
            <h3>Cursos disponiveis</h3>
        
            <ul class="list-group">
                @for (curso of cursos; track $index) {
                   <li class="list-group-item" [routerLink]="['/curso', curso.id]">{{ curso.Nome }}</li>
                }
    
            </ul>
        </div>
        <app-curso-criado></app-curso-criado>
    </div>
</div>