<form [formGroup]="form" (ngSubmit)="onSub()">
    <app-input-field formControlName="nome" id="nome" label="Nome" [control]="form.get('nome')"></app-input-field>
    <app-input-field formControlName="email" id="email" type="email" label="Email"
        [control]="form.get('email')"></app-input-field>

    <div formGroupName="endereco">
        <div class="row">
            <app-input-field class="col-md-3" formControlName="cep" id="cep" label="CEP"
                [control]="form.get('endereco.cep')"></app-input-field>
            <app-input-field class="col-md-3" formControlName="numero" id="numero" label="Número"
                [control]="form.get('endereco.numero')"></app-input-field>
            <app-input-field class="col-md-6" formControlName="complemento" id="complemento"
                label="Complemento"></app-input-field>
        </div>
        <app-input-field class="col-md-3" formControlName="rua" id="rua" label="Rua"
            [control]="form.get('endereco.rua')"></app-input-field>

        <div class="row">
            <app-input-field class="col-md-5" formControlName="bairro" id="bairro" label="Bairro"></app-input-field>
            <div class="form-group col-sm-5">
                <label for="cidade" class="form-text">Cidade</label>
                <select id="cidade" formControlName="cidade" class="form-select">
                    @for (cidade of cidades; track $index) {
                    <option [value]="cidade.ID">{{ cidade.Nome }}</option>
                    }
                </select>
            </div>
            <div class="form-group col-sm-2">
                <label for="estado" class="form-text">Estado</label>
                <select id="estado" formControlName="estado" class="form-select">
                    @for (estado of estados; track $index) {
                    <option [value]="estado.Sigla">{{ estado.Nome }}</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6">
            <label for="cargo" class="form-text">Cargo</label>
            <select id="cargo" formControlName="cargo" [compareWith]="comparaCargos" class="form-select">
                @for (cargo of cargos; track $index) {
                <option [ngValue]="cargo">{{ cargo.desc }}</option>
                }
            </select>
        </div>

        <div class="form-group col-sm-4">
            <label for="tech" class="form-text">Tecnologias</label>
            <select multiple id="tech" formControlName="tech" class="form-select">
                @for (tec of tech; track $index) {
                <option [ngValue]="tec">{{ tec.desc }}</option>
                }
            </select>
        </div>
        <div class="form-group col-sm-2">
            <label for="newsLetter" class="form-text">NewsLetter</label>
            <div class="row" id="newsLetter">
                @for (news of newsOp; track $index) {
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" formControlName="newsLetter" [value]="news.valor" /> {{news.desc}}
                    </label>
                </div>
                }
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="checkbox">
                <label class="checkbox-inline">
                    <input type="checkbox" formControlName="termo">Aceito os termos
                </label>
            </div>
            @if(verificaValidTouched('termo')){
            <span class="form-text text-danger">Por favor aceite os termos</span>
            }
        </div>
    </div>

    <br>
    <div class="">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button (click)="resetFormSubmit()" class="btn">Limpar</button>
        <button (click)="setCargo()" class="btn">Setar cargo</button>
    </div>
</form>

<app-form-debug [form]="form"></app-form-debug>